<div class="contianer-fluid position-relative">
    <div class="position-relative d-none d-sm-none d-md-block" style="height: 72px;">
        <app-navigation #navigation></app-navigation>
    </div>
    <div class="p-0 w-100">
        <div class="groups">
            <button *ngIf="true" (click)="showsignin()" style="background-color: transparent; color:white;" class="d-block d-sm-block d-md-none btn btn-light join">Join Group</button>

            <a class="d-block  d-sm-block d-md-none position-absolute" href="#" style="background-color: transparent; top:8%; left:4%;">
                <i style="color:white; background-color: transparent;" class="fa fa-arrow-left"></i>
            </a>
            <span class="group-title">Computer Engineer</span>
            <span class="group-des">142,765 Computer Engineers follow this</span>
            <button *ngIf="false" class="btn btn-light join">Leave Group</button>
        </div>
        <div style="height:62px;top:72px; background-color: #fff;z-index:1000;">
            <app-nav-secondary class="position-sticky d-none d-sm-none d-md-block" style="z-index: 999;"></app-nav-secondary>
            <div class="container-fluid nav-small p-3 d-block d-sm-block d-md-none">
                <span class="float-start">Posts(132)</span>
                <div class="dropdown float-end" style="padding-right:16px;">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" style="max-height:36px;background: #EDEEF0;color:black;" aria-expanded="false">
                          Filter: All
                        </button>
                    <ul class="dropdown-menu" style="z-index: 1020;max-width:48px;" aria-labelledby=" dropdownMenuButton1 ">
                        <li><a class="dropdown-item " href="# ">All</a></li>
                        <li><a class="dropdown-item " href="# ">Aricle</a></li>
                        <li><a class="dropdown-item " href="# ">Job</a></li>
                        <li><a class="dropdown-item " href="# ">Event</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 p-0 float-none">
            <div class="container-sm posts  float-start ">
                <app-post *ngFor="let i of data" [post]="i"></app-post>
            </div>
            <div class="d-none d-sm-none d-md-none d-lg-block col-md-3 float-start location " style="z-index: -1; ">
                <div class="input-group input-group-lg  justify-content-between" style="border-bottom: 0.4px solid #B8B8B8; ">
                    <span class="input-group-text border-0 " id="basic-addon2 "><i class="fa fa-map-marker "></i></span>
                    <input type="text " class=" " placeholder="Enter Your Location ">
                    <i style="padding:6px " class="fa fa-times"></i>
                </div>
                <div class=" othergroups ">
                    <div class="other-heading ">RECOMMENDED GROUPS</div>
                    <div *ngFor="let i of groups" class="other-group "><img class="float-start" [src]="i.image">
                        <span class="float-start ">{{i.title}}</span>
                        <button (click)="followed(i.id)" style="background-color: #EDEEF0;" [id]="i.id" class="btn btn-secondary p-0 float-end "> Follow </button>
                    </div>
                    <div class="col-11 mt-5 " style="height:35px; ">
                        <a class="float-end " style="line-height: 35px;text-decoration: none; " href=" # ">See More...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-danger d-block d-sm-block d-md-none position-fixed rounded-circle " style="bottom:5%; right:5%; z-index:1040; "><i style="color:white;background-color: transparent; " class="fa fa-pencil "></i></button>